.container {
    margin: auto;
    text-align: left;
  }

  .data-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .data-box {
    top:0px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    min-width: 450px;
    vertical-align: center;
    background-color: #0A1620;
    margin: 0.25rem;
    border-radius: 1rem;
    color: #4ECCA3;
  }



  .data-box div span{
    padding: 0.5rem;
  }

  .level-cell{
    padding-left: 1rem;
    padding-right: 1rem;
    color: #4ECCA3;
  }

  .borderless{
    border: none;
  }
  
  body {
    background-color: #393E46;
  }
  .stylizedfont {
    font-family: 'Indie Flower', cursive;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
  
  }

    table {
        border-collapse: collapse;
        color: #0A1620;
    }
    table td, table th {
        border: 1px solid black;
    }
    table tr:first-child th {
        border-top: 0;
    }
    table tr:last-child td {
        border-bottom: 0;
    }
    table tr td:first-child,
    table tr th:first-child {
        border-left: 0;
    }
    table tr td:last-child,
    table tr th:last-child {
        border-right: 0;
    }

    #table-box{
        min-width: 0;
        margin: auto;
        padding: 1rem;
    }

    #switch-font{
      position: fixed;
      background-color: #0A1620;
      margin: 0.25rem;
      border-radius: 1rem;
      color: #4ECCA3;
      right: 1rem;
      top: 1rem;
    }