.container {
    margin: auto;
    text-align: left;
  }

  .data-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .data-box {
    top:0px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    min-width: 450px;
    vertical-align: center;
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }